/*Seletores*/

/*Zera as configurações*/

*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

h1{
/*Cor do texto*/
color: black;
/*tipo da fonte*/
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/*Tamanho da fonte*/
font-size: 22pt;
/*Deixar Negrito*/
font-weight: bold;
/*Centralizar texto*/
text-align: center;
/*Respiro (Espaço) dos Elementos*/
padding: 20px;
}

h2{

    background-color: bisque;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section{
margin: 15px;
}


p{
    text-align: justify;
    padding-top: 10x;
}
footer{
    background-color: bisque;
    margin: 15x;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 5px;
}
h2:hover{
    color: rgb(238, 236, 243);
    background-color: blue;
}
 